  </div>

</div>

<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3>Contact Info</h3>
        <div class="footer-list">
        <ul>
            <li><strong>Address: </strong>Prague, Czech Republic</li>
            <li><strong>E-mail: </strong><a href="mailto:azhdanov@gmail.com">azhdanov@gmail.com</a></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Links</h3>
        <div class="footer-list">
          <ul>
            <li><a href="https://marketplace.atlassian.com/plugins/lambda-plugin-ondemand" target="blank">Atlassian Marketplace</a><i class="icon-external-link"></i></li>
            <li><a href="https://answers.atlassian.com/tags/addon-lambda-plugin-ondemand/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      </div>
    <div class="span3">
        <h3>Site</h3>
        <div class="footer-list">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wiki/Overview.html">Documentation</a></li>
            <li><a href="/support.html">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <h3>Copyright</h3>
        <p class="footer-list">&copy; Andriy Zhdanov, 2014</p>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
    <div class="span12">
        <p class="pull-right">
      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
    </p>
    </div>
  </div>
  </div>
</div>

</body>
</html>