{{> header }}

  <div id="main">
    <section>
      <div class="row-fluid">
        <div class="span9">
            {{{contents}}}
        </div>
        <!-- sidebar -->
        <div class="span3 sidemenu">
          <a href="https://marketplace.atlassian.com/plugins/lambda-plugin"><img src="/images/marketplace_available_light_180x80.png" title="Available on the Atlassian Marketplace" alt="Available on the Atlassian Marketplace"/></a>
          <ul>
            <li><a href="/security.html">Security Statement</a></li>
            <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open&component=Time%20Reports" target="blank">Issues</a><i class="icon-external-link"></i></li>
          </ul>
        </div>
      <!-- /sidebar -->
	  </div>
    </section>
  </div>
  <!-- /main -->

{{> footer }}

