{{> header }}

  <div id="main">
    <section>
      <div class="row-fluid">
        <div class="span9">
            {{{contents}}}
        </div>
        <div class="span3 sidemenu">
        <ul>
          {{#sla}}
          <li><a href="/security.html">Support</a></li>
          {{/sla}}
          <li><a href="/wiki/Overview.html">Documentation</a></li>
          <li><a href="/wiki/Frequent_Questions.html">Frequent Questions</a></li>
          <li><a href="https://answers.atlassian.com/tags/addon-lambda-plugin-ondemand/" target="blank">Atlassian Answers</a><i class="icon-external-link"></i></li>
          <li><a href="https://bitbucket.org/azhdanov/lambda-plugin/issues?status=new&status=open" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
	    </div>
	  </div>
    </section>
  </div>
  <!-- /main -->

{{> footer }}

