{{> header }}

  <div id="main">
    <section>
      <div class="row-fluid">
        <div class="span9">
            {{{contents}}}
        </div>
        <!-- sidebar -->
        <div class="span3 sidemenu">
          <!--ul>
            <li><a href="/security.html">Security Statement</a></li>
            <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open&component=Time%20Reports" target="blank">Issues</a><i class="icon-external-link"></i></li>
          </ul-->
        </div>
      <!-- /sidebar -->
	  </div>
    </section>
  </div>
  <!-- /main -->

{{> footer }}

