{{> header }}
<div id="main">
  <section>
    <div class="row-fluid">
      <div class="span9">

        <div class="slider-wrapper theme-default">
          <div id="slider" class="nivoSlider">
            <img src="/images/lambda-search.png" data-thumb="images/lambda-search.png" alt="Issue filter with expression column"/>
            <img src="/images/lambda-column.png" data-thumb="images/lambda-column.png" alt="Define column"/>
            <img src="/images/lambda-column-new.png" data-thumb="images/lambda-column-new.png" alt="Create new column" />
            </div>
        </div>
      </div>

      <!-- sidebar -->
      <div class="span3 sidemenu">
        <a href="https://marketplace.atlassian.com/plugins/lambda-plugin"><img src="/images/marketplace_available_light_180x80.png" title="Available on the Atlassian Marketplace" alt="Available on the Atlassian Marketplace"/></a>
        <ul>
          <li><a href="/security.html">Security Statement</a></li>
          <li><a href="https://bitbucket.org/azhdanov/jiratimesheet/issues?status=new&status=open&component=Time%20Reports" target="blank">Issues</a><i class="icon-external-link"></i></li>
        </ul>
      </div>
      <!-- /sidebar -->

    </div>
  </section>

  <section>
    <div class="row-fluid">
        <div class="hero-unit">
          Decode issue fields with instant expressions.
        </div>
   </div>
  </section>


  <section>
    <div class="row-fluid">
	  <div class="span9">
	    <h2>{{{title}}}</h2>
	    {{{contents}}}
	    <p class="pull-right">
	      <a href="#" data-href="#top" class="back-to-top">Back to Top</a>
	    </p>
	  </div>
    </div>
  </section>

</div>
<!-- /main -->

{{> footer }}
